XSD/isbhr-gt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="isbhr-gt"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:brocom="http://www.broservices.nl/xsd/brocommon/3.0"
                  xmlns:msg="http://www.broservices.nl/xsd/isbhr-gt/0.1"
                  xmlns:tns="http://www.broservices.nl/wsdl/isbhr-gt/0.1"
                  targetNamespace="http://www.broservices.nl/wsdl/isbhr-gt/0.1">

    <wsdl:documentation>
        Deze WSDL beschrijft de webservice voor inname van geotechnische booronderzoek.
        Dit is een pre-productie versie van dit bestand. 
        Een definitieve versie zal t.z.t. beschikbaar gesteld worden via http://www.broservices.nl.
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:tns="http://www.broservices.nl/wsdl/isbhr-gt/0.1" targetNamespace="http://www.broservices.nl/wsdl/isbhr-gt/0.1">
            <xsd:import namespace="http://www.broservices.nl/xsd/isbhr-gt/0.1" schemaLocation="isbhr-gt-messages.xsd" />
            <xsd:import namespace="http://www.broservices.nl/xsd/brocommon/3.0" schemaLocation="brocommon.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="registrationRequest">
        <wsdl:part name="request" element="msg:registrationRequest" />
    </wsdl:message>

    <wsdl:message name="correctionRequest">
        <wsdl:part name="request" element="msg:correctionRequest" />
    </wsdl:message>

    <wsdl:message name="intakeResponse">
        <wsdl:part name="response" element="msg:intakeResponse" />
    </wsdl:message>

    <wsdl:message name="parseSoapFault">
        <wsdl:part name="parseFault" element="msg:parseFault" />
    </wsdl:message>

    <wsdl:message name="DeliveryResponsiblePartyHeader">
        <wsdl:part name="deliveryResponsibleParty" element="brocom:deliveryResponsibleParty"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="isbhr-gt">
        <wsdl:operation name="register">
            <wsdl:input message="tns:registrationRequest" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/registrationRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/parseSoapFault" />
        </wsdl:operation>
        <wsdl:operation name="correct">
            <wsdl:input message="tns:correctionRequest" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/correctionRequest" />
            <wsdl:output message="tns:intakeResponse" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/intakeResponse" />
            <wsdl:fault message="tns:parseSoapFault" name="parseFault" wsam:Action="http://www.broservices.nl/wus/isbhr-gt/parseSoapFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="isbhr-gt_SOAP" type="tns:isbhr-gt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="register">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="correct">
            <soap:operation soapAction="" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header use="literal" part="deliveryResponsibleParty" message="tns:DeliveryResponsiblePartyHeader" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="parseFault">
                <soap:fault name="parseFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="isbhr-gt">
        <wsdl:port name="isbhr-gt_SOAP" binding="tns:isbhr-gt_SOAP">
            <soap:address location="REPLACE_WITH_ACTUAL_URL" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
